@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}
h2{
    text-align: center;
}
body{
    height: 100vh;
    background-color: #f1efef;
    width: 100%;
}

#root, body{
    border: none;
    margin: 0;
    background-color:#81DAF5;
}

.login{
    border: none;
    background-color: #eaeaea;
    padding-inline: 2rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-radius: 0.2rem;
    box-shadow: 0px 0px 3px 0px rgba(150,150,150,1);
    font-size: larger;
    cursor: pointer;
}
#header{
    width: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: initial;
    margin-bottom: 3rem;
}
#main{
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.bottom{
    width: 5rem;
    height: 2rem;
    position: absolute;
    bottom: -1rem;
    z-index: -100;
    background-color: #dedddd;
    cursor: initial;
}
#left{
    left: -4.4rem;
}
#right{
    right: -4.4rem;
}
.welcome{
    font-size: 5rem;
    color: #333;
    font-weight: bold;
    background-color: #f1efef;
    cursor: initial;
}
.bold{
    font-weight: bold;
}	
.fondo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#middle{
    z-index: 2;
    width: max-content;
    height: max-content;
    bottom: -1.8rem;
    font-size: 2rem;
}
@media (max-width: 768px){
    .welcome{
        font-size: 3rem;
    }
    #root{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #main{
        height: 100vh;
        max-width: 90%;
    }
    .bottom{
        width: 3rem;
        height: 1rem;
        bottom: -0.5rem;
    }
    #left{
        left: -3rem;
    }
    #right{
        right: -3rem;
    }
    .welcome{
        font-size: 3rem;
    }
}
@media (max-width: 425px){
    .welcome{
        font-size: 2rem;
    }
    #left{
        left: -2rem;
    }
    #right{
        right: -2rem;
    }
}